.overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 98;
}

.nav__tablet-mobile{
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    background-color:#fff;
    border-radius: 5px;
    padding: 16px 0;
    &-list{
        @include flex(center);
        flex-direction: column;
    }
    &-item{
        width: 100%;
        text-align: center;
    }
    &-link{
        display: block;
        font-size: 2rem;
        color: $blue-dark;
        padding: 16px 0;
        font-weight: 600;
        text-decoration: none;
    }
}